* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "General Sans";
}
body {
  background: linear-gradient(360deg, #1ddbede6, #00c7fe48);
  height: 100vh;
  color: white;
  opacity: 1.5;
}

.nav {
  height: 60px;
  background: #333;
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 13px 30px;
  background: linear-gradient(135deg, #014051d4, #2e3b3db3);
}

.nav button {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

#card {
  text-align: center;
  height: 500px;
  background: #cad9ec;
  opacity: 0.8;
  background: linear-gradient(135deg, #014051d4, #2e3b3db3);
  width: 90%;
  max-width: 470px;
  border-radius: 30px;
  margin: 75px auto 0;
  padding: 40px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.Lines {
  font-size: 1.4rem;
  margin-top: 10px;
}

.search {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 14px;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffe;
  color: #171616df;
  height: 40px;
  width: 80%;
  border-radius: 30px;
  padding: 25px 10px;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

.search button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  background-color: #ebfffe;
  color: #222;
  cursor: pointer;
  font-size: 20px;
}

.weather img {
  width: 170px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 60px;
  font-weight: 500;
  margin-top: 30px;
}
.weather h2 {
  font-size: 40px;
  font-weight: 400;
}

.details {
  padding: 50px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.details img {
  width: 35px;
}
.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left div h3 {
  font-size: 20px;
}
.right div h3 {
  font-size: 20px;
}
.left div {
  margin-right: 10px;
}
.right div {
  margin-right: 10px;
}
.right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 15px;
}
